<li>
    <div class="pcard">
      <button class="btn view" *ngIf="node.subOrdinates" (click)="toggle()">
        {{ expanded ? 'back': 'view Subordinates' }}
      </button>
      <div class="name">
      <strong>Name:{{node.name}}</strong>
    </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="imageUrl" alt="Card image cap">
        <div class="card-body">
         <p>{{node.name}}</p>
         <p>{{node.designation}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <div>
        <button class="btn but">view Attendance</button>
    </div><div>
        <button class="btn but" (click)="openDetails(node)" data-bs-toggele="modal" data-bs-target="#view">
            <i class="fas fa-trash"></i></button>
    </div>
    </div>
      </div>
    </div>
    <ul *ngIf="expanded">
        <div class="box">
      <ng-container *ngFor="let child of node.subOrdinates">
        <app-tree-node [node]="child"></app-tree-node>
      </ng-container>
    </div>
    </ul>
  </li>
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>