/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

html, body {
    overflow-x: hidden;
}

$primary-color: #0f065433;
$nav-color:#113c60;


$side-nav:#113c60;
