.page{
    gap:55vh
}
.badcolr{
   margin-top: 20px;
    background-color: #2b527e;
    border-radius: 1;
    font-weight:normal;
    width:10.9375rem;
    height: 45px;
    padding: 10px;
    font-size:18px;  
    margin-bottom: 20px;
}
.week{
    margin-top: 20px;
    height: 45px;
    width: 10.9375rem;
    padding: 10px;
    background-color: #a6b7cb;
    color: rgb(0, 0, 0);
}