.chart{
    display: block;
    width: 31.25rem;
     margin: 20px;
}
.badcolr{
    margin: 20px;
    background-color: #2b527e;
    border-radius: 1;
    font-weight:normal;
    width: 200px;
    height: 45px;
    padding: 10px;
    
}
.week{
    margin-top: 20px;
    height: 45px;
    width: 10.9375rem;
    padding: 10px;
    background-color: #a6b7cb;
    color: rgb(0, 0, 0);
}