.container {
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important; 
}

.main-container {
    display: flex;

 
    
    .main {
        padding: 30px;
    }
  }

  body{
    margin:0px;

  }
