<div class="container mt-3">
    <h3><b><u>Departments</u></b></h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col" colspan="1">
                    Department ID 
                </th>
                <th scope="col" colspan="1">
                    <div class="d-flex justify-content-between align-items-center">
                        Department Name
                    <button type="button" class="btn btn-primary custom-btn" data-bs-toggle="modal"
                    data-bs-target="#department" data-toggle="tooltip" data-placement="top"
                    title="Click to Add New Department ">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                    </div>
                </th>
                
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">{{depatmentData.id}}</th>
                <td>de{{depatmentData.id}}</td>
            </tr>
           
        </tbody>
    </table>
</div>


<div class="container mt-3">
    <h3><b><u>Designations</u></b></h3>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col" colspan="1">
                    Designation ID 
                </th>
                <th scope="col" colspan="2">
                    <div class="d-flex justify-content-between align-items-center">
                        Designation Name
                    <button type="button" class="btn btn-primary custom-btn" data-bs-toggle="modal"
                    data-bs-target="#designation" data-toggle="tooltip" data-placement="top"
                    title="Click to Add New Designation ">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">{{designationData.id}} </th>
                <td>de{{designationData.designationName}}</td>
            </tr>
        </tbody>
    </table>
</div>



<!-- modal -->
<div class="modal fade" id="department" tabindex="-1" aria-labelledby="department" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="department">Add Department</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
                    <input class="form-control" type="text" placeholder="Department Name" aria-label="Department Name" formControlName="departmentName">                        
                    @if(departmentForm.get('name')?.invalid ) {
                        <div class="text-danger">
                            Department Name is required.
                        </div>
                        }
                    <div class="d-flex justify-content-end gap-2 pt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary custom-btn" data-bs-dismiss="modal"
                            [disabled]="!departmentForm.valid">Save
                            Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="designation" tabindex="-1" aria-labelledby="designation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="designation">Add Designation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="designationForm" (ngSubmit)="onSubmit()">
                    <input class="form-control" type="text" placeholder="Designation Name" aria-label="Designation Name" formControlName="designationName">                        
                    @if(designationForm.get('name')?.invalid ) {
                        <div class="text-danger">
                            Designation Name is required.
                        </div>
                        }
                    <div class="d-flex justify-content-end gap-2 pt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary custom-btn" data-bs-dismiss="modal"
                            [disabled]="!designationForm.valid">Save
                            Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


