.side-nav {
    width: 250px;
    min-width: 230px;
    min-height: calc(100vh - 30px);
    background-color: #113c60;
    position: fixed;
    color: #fefefe;
    box-shadow: 5px 5px 5px #939393;
    overflow: auto;
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }

  .main {
    margin-left: 250px;          // Space for the fixed sidebar
    padding: 20px;
    width: 100vw;
    flex-grow: 1;
    min-height: calc(100vh - 50px);
    background-color: #f1eded;
    overflow: auto;

    // Responsive adjustments based on sidebar width
    @media only screen and (max-width: 1300px) {
        margin-left: 100px;      // Adjust margin for smaller sidebar width
    }
}


.width100{
    width: 100vw;
}