.side-nav {
    width: 250px;
    min-width: 10%;
    min-height: calc(100vh);
    top: 70px;
    background-color: #113c60;
    position: fixed;
    color: #fefefe;
    box-shadow: 5px 5px 5px #939393;
    overflow: auto;
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }

  .main {
    margin-left: 250px;  
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    padding: 20px;
    width: 100vw;
    top: 70px;
    flex-grow: 1;
    background-color: #fafafa;
    overflow: auto;

    @media only screen and (max-width: 1300px) {
        margin-left: 100px;      
    }
}


.width100{
    width: 100vw;
}