.patientForm{   
    padding: 25px;
    height: 100vh;    
}
.pForm{
    border-radius: 0.35rem;
    padding: 15px;
    margin-top: 56px;   
}
.form-group {
    margin-bottom: 1.5rem;     
}

label{
    margin-bottom: 3px;
    font-family:EB Garamond ;
    font-weight: bold;
}

.gender{
    gap:12px;
    display: flex;
}

input.form-control {
    border-radius: 0.25rem;    
    font-family: alkatra;

}

input.form-control:focus {
    border-color: #56486c;   
}

.form-check-input {
    margin-right: 0.5rem; 
}

button {
    background-color: #56486c; 
    color: white;             
    border-radius: 0.25rem;     
}

button:hover {
    background-color: #473b5e; 
}