<div class="container d-flex  profile-container mb-5">
    <div class="position-relative d-inline-block">
        <div>
            @if(employeeData.photo){
            <img src="{{employeeData.photo}}" class="img-thumbnail profile-img" alt="Profile Image">
            }
            @if(employeeData.photo==null){
            @if(employeeData.gender==1){
            <img src="male.png" class="img-thumbnail profile-img" alt="Profile Image">
            }
            @if(employeeData.gender==2){
            <img src="female.jpg" class="img-thumbnail profile-img" alt="Profile Image">
            }
            @if(employeeData.gender==3||employeeData.gender==null){
            <img src="default.png" class="img-thumbnail profile-img" alt="Profile Image">
            }
            }
    
        </div>
        <i class="fa-solid fa-pen-to-square position-absolute text-white "
            style="top: 10px; right: 10px; z-index: 10; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#photo"
            data-toggle="tooltip" data-placement="top" title="Click to Update Profile Photo" (click)="loadForm(employeeData)">
        </i>
    </div>

    <div class="profile-info">
        <h2>{{employeeData.firstName}} {{employeeData.lastName}}</h2>
        <h6>{{employeeData.designationName}}</h6>
        <h6>{{employeeData.email}}</h6>
        <h6>{{employeeData.phoneNumber}}</h6>
    </div>

</div>

<div class="container d-flex  c ">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="2">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Personal Details</span>
                            <button type="button" class="btn btn-primary custom-btn" data-bs-toggle="modal"
                                data-bs-target="#personal" data-toggle="tooltip" data-placement="top"
                                title="Click to Update Personal Details" (click)="loadForm(employeeData)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">First Name</th>
                    <td>{{employeeData.firstName}}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>{{employeeData.lastName}}</td>
                </tr>

                <tr>
                    <th scope="row">Gender</th>
                    <td>{{getGenderDisplay(employeeData.gender)}}</td>
                </tr>
                <tr>
                    <th scope="row">Date of Birth</th>
                    <td>{{employeeData.dateofBirth}}</td>
                </tr>
                <tr>
                    <th scope="row">Joining Date</th>
                    <td>{{employeeData.joiningDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col" colspan="2">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Contact Details</span>
                            <button type="button" class="btn btn-primary custom-btn" data-bs-toggle="modal"
                                data-bs-target="#contact" data-toggle="tooltip" data-placement="top"
                                title="Click to Update Contact Details" (click)="loadForm(employeeData)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">Phone Number</th>
                    <td>{{employeeData.phoneNumber}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{employeeData.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>{{employeeData.address}}</td>
                </tr>
                <tr>
                    <th scope="row">Country</th>
                    <td>{{employeeData.country}}</td>
                </tr>
                <tr>
                    <th scope="row">State</th>
                    <td>{{employeeData.state}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="container mt-3">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col" colspan="2">Employment Details
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Employee ID</th>
                <td>{{employeeData.employeeCode}}</td>
            </tr>
            <tr>
                <th scope="row">Designation </th>
                <td>{{employeeData.designationName}}</td>
            </tr>
            <tr>
                <th scope="row">Reporting Manager</th>
                <td>{{employeeData.managerName}}</td>
            </tr>
            <tr>
                <th scope="row"> Department</th>
                <td>{{employeeData.departmentName}}</td>
            </tr>

            <tr>
                <th scope="row">Employment Type</th>
                <td>{{getEmploymentType(employeeData.employmentType)}}</td>
            </tr>

        </tbody>
    </table>
</div>

<!-- modal -->
<div class="modal fade" id="personal" tabindex="-1" aria-labelledby="personaldetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="personaldetails">Personal Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName">
                        @if(userForm.get('firstName')?.invalid) {
                        <div class="text-danger">
                            First Name is required.
                        </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>

                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <div>
                            <select id="gender" formControlName="gender">
                                <option value="" disabled selected>Select Gender</option>
                                <option value=1>Male</option>
                                <option value=2>Female</option>
                                <option value=3>Other</option>
                            </select>
                        </div>
                        @if(userForm.get('gender')?.invalid ) {
                        <div class="text-danger">
                            Gender is required.
                        </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="dateofBirth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="dateofBirth" formControlName="dateofBirth">
                        @if(userForm.get('dateofBirth')?.invalid ) {
                        <div class="text-danger">
                            Date of Birth is required.
                        </div>
                        }
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary custom-btn" data-bs-dismiss="modal"
                            [disabled]="!userForm.valid">Save
                            Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactdetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactdetails">Contact Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">

                        @if(userForm.get('phoneNumber')?.invalid) {
                        <div class="text-danger">
                            Valid Phone Number is required.
                        </div>
                        }

                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email"
                            placeholder="name@example.com">
                        @if(userForm.get('email')?.invalid) {
                        <div class="text-danger">
                            Valid Email is required.
                        </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" id="address" formControlName="address"></textarea>
                        @if(userForm.get('address')?.invalid) {
                        <div class="text-danger">
                            Address is required.
                        </div>
                        }
                    </div>


                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text-box" class="form-control" id="country" formControlName="country">
                        @if(userForm.get('country')?.invalid) {
                        <div class="text-danger">
                            Country is required.
                        </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" formControlName="state">
                        @if(userForm.get('state')?.invalid) {
                        <div class="text-danger">
                            State is required.
                        </div>
                        }
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary custom-btn" data-bs-dismiss="modal"
                            [disabled]="!userForm.valid">Save
                            Changes</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="photo" tabindex="-1" aria-labelledby="photo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactdetails">Upload Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="formFile" class="form-label">Upload Photo</label>
                            <i class="fa-solid fa-trash"data-bs-dismiss="modal" (click)="removePicture()"></i>

                        </div>
                        <input class="form-control" type="file" id="formFile" (change)="onImageUpload($event)">

                        

                    </div>

                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary custom-btn" data-bs-dismiss="modal"
                            [disabled]="!userForm.valid">Save
                            Changes</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>