.bg {
    border: 2px solid black; /* 2px thick solid black border */
    padding: 10px; /* Optional: adds some space inside the border */
    border-radius: 5px; /* Optional: rounds the corners */
  }
  .profile-container {
    align-items: center;
  }
  .profile-img {
    width: 200px; 
    height: 200px; 
  }
  .profile-info {
    margin-left: 15px; 
  }
  .custom-btn{
    background-color: #1e507f;
    border:none;
  }
  .custom-btn:hover{
    background-color: darken(#1e507f, 13%);
    border:none;
  }
  
  .pbutton{
    max-width: fit-content; ;
    max-height: fit-content;
  }