<div class="container d-flex bg">
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col" colspan="2">Contact Details</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">Phone Number</th>
                <td>7356137656</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>Abhishekgmail.com</td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col" colspan="2">Personal Details</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">Name</th>
                <td>ABhishek</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>Abhishekgmail.com</td>
              </tr>
              <tr>
                <th scope="row">Phone Number</th>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
 
