.card {
  border-radius: 10px;
}
.card-body {
  padding: 1.35rem;
  height: 115px;
} 
h5.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.cardStyle
{
  background:#fcfcfc;
  color: rgb(18, 9, 47);
  box-shadow:0 4px 8px rgba(206, 203, 203, 0.341);
  border-width: 1.5px;
}
.heading{
  color:#1e456e
}
table {
  font-size: 0.875rem;
}

table th {
  text-align: center;
}
.scroll {
  max-height: 115px;
  overflow-y: auto;
}
.table-responsive {
  margin-top: 20px;
}
.btn-success {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.text-primary {
  color: #ffffff !important;
}
.text-white {
  color: #fff !important;
}
.rep{
  background: #0F67B1;
  color: white;
}
.table-rounded {
  border-radius: 10px;
}

.table th, .table td {
  padding: 12px;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #f0f8ff; 
}
.tab{
  background: #F5F7F8;
}
.status{
  background: #55679C;
  
  
}