<div class="header">
  <div class="logo">Geeky Wolf</div>
  <div class="user">
    <div class="user-name">{{userService.firstName}}</div>
    <div class="user-menu-container">
      <span class="user-image" (click)="toggleDropdown()">NA</span>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li><a routerLink="/portal/profile">Profile</a></li>
        <li><a (click)="onLogout()">LogOut</a></li>
        @if(loginRole=="SuperAdmin"){
        <li><a routerLink="/portal/admin-dashboard">Settings</a></li>
        }
      </ul>
    </div>
  </div>
</div>