<div class="header">
  <div class="logo">
    <img src="geekywolf-white-logo.svg">
  </div>
  <div class="user">
    <div class="notification">
      <span class="icon" (click)="toggleNotifications()">
        <i class="bi bi-bell-fill"></i>
        <span class="badge">{{ unreadNotifications }}</span>
      </span>
    </div>
    <div class="user-name">{{userService.firstName}}</div>
    
    <div class="user-menu-container">
      <span class="user-image" (click)="toggleDropdown()">
        {{ userService.firstName ? userService.firstName[0].toUpperCase() : 'NA' }}
      </span>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li><a routerLink="/portal/profile">Profile</a></li>
        <li><a (click)="onLogout()">LogOut</a></li>
        <li><a routerLink="/user/reset-password">Reset Password</a></li>
        @if(userService.role == "SuperAdmin")
        {
        <li><a routerLink="/portal/admin-dashboard">Settings</a></li>
        }
      </ul>
    </div>
  </div>
</div>

<app-notification-modal
  *ngIf="showNotifications"
  [notifications]="notifications"
  [onClose]="closeNotifications"
></app-notification-modal>


