.header {
  height: 70px;
  padding: 20px 50px;
  background-color: rgb(1, 38, 69);
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #354771;
  width: 100vw;
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    
    img {
      max-height: 100%; 
      max-width: 100%;   
    }
  }

  .user {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px; // Consistent spacing between elements
    
    .user-name {
      font-weight: 500;
    }

    .notification {
      display: flex;
      align-items: center;
      cursor: pointer;
  
      .icon {
        position: relative;
        display: inline-block;
  
        i {
          font-size: 24px;
          color: #ffffff;
        }
  
        .badge {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: #dc3545;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          padding: 3px 7px;
          line-height: 1;
        }
      }
    }
    
    .user-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: rgb(11, 107, 185);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.custom-btn {
  background-color: #1e507f;
  border: none;
  max-height: 44px;
  width: 190px;

  &:hover {
    background-color: darken(#1e507f, 13%);
  }
}

.user-menu-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  background-color: rgb(1, 38, 69);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0.5rem 0;
  min-width: 150px;
  display: none;
  z-index: 1000;

  &.show {
    display: block;
  }

  li {
    padding: 0;

    a {
      padding: 0.5rem 1rem;
      display: block;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken(#1e507f, 20%);
      }
    }
  }
}