
    .nav-item {
      padding: 20px 10px;
      //cursor: pointer;
    //   &:hover {
        background-color: rgb(1, 38, 69);
      //}
    }

    .table 
    {
        width: 900px;
    }

    .align
    {
        text-align: center;
    }