<!-- <div class="patientForm">
    <form [formGroup]="addNewLeaveType" class="pForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="PatientName">Name</label>
        <input type="text" class="form-control" id="PatientName" placeholder="Enter Name" formControlName="PatientName">
        <div class="error"*ngIf="patient_form.get('PatientName')?.invalid && patient_form.get('PatientName')?.touched">
          Name is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="Age">Age</label>
        <input type="text" class="form-control" id="Age" placeholder="Enter Age" formControlName="Age">
        <div class="error" *ngIf="patient_form.get('Age')?.invalid && patient_form.get('Age')?.touched">
          Age is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Enter Email" formControlName="Email">
        <div class="error" *ngIf="patient_form.get('Email')?.invalid && patient_form.get('Email')?.touched">
         valid Email is required
        </div>
      </div>
  
      <div class="form-group">
        <label>Gender</label>
        <div class="gender">
          <div>
            <input class="form-check-input" type="radio" id="Male" value="Male" formControlName="Gender">
            <label class="form-check-label" for="Male">Male</label>
          </div>
          <div>
            <input class="form-check-input" type="radio" id="Female" value="Female" formControlName="Gender">
            <label class="form-check-label" for="Female">Female</label>
          </div>
          <div>
            <input class="form-check-input" type="radio" id="Other" value="Other" formControlName="Gender">
            <label class="form-check-label" for="Other">Other</label>
          </div>
          <div  class="error" *ngIf="patient_form.get('Gender')?.invalid && patient_form.get('Gender')?.touched">
            Gender is required
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="text" class="form-control" id="Phone" placeholder="Enter PhoneNumber" formControlName="Phone">
        <div class="error" *ngIf="patient_form.get('Phone')?.invalid && patient_form.get('Phone')?.touched">
          PhoneNumber should be exactly 10 digits
        </div>
      </div>
  
      <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" id="City" placeholder="Enter City" formControlName="City">
        <div class="error" *ngIf="patient_form.get('City')?.invalid && patient_form.get('City')?.touched">
          City is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="State">State</label>
        <input type="text" class="form-control" id="State" placeholder="Enter State" formControlName="State">
        <div class="error" *ngIf="patient_form.get('State')?.invalid && patient_form.get('State')?.touched">
          State is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="Pin">Pin</label>
        <input type="text" class="form-control" id="Pin" placeholder="Enter Pin" formControlName="Pin">
        <div class="error" *ngIf="patient_form.get('Pin')?.invalid && patient_form.get('Pin')?.touched">
          Pin is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="UserName">UserName</label>
        <input type="text" class="form-control" id="UserName" placeholder="Enter UserName" formControlName="UserName">
        <div class="error" *ngIf="patient_form.get('UserName')?.invalid && patient_form.get('UserName')?.touched">
          UserName is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Enter Password" formControlName="Password">
        <div class="error" *ngIf="patient_form.get('Password')?.invalid && patient_form.get('Password')?.touched">
          Password is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword">
        <div class="error-message error" *ngIf="patient_form.errors?.['PasswordNoMatch'] && patient_form.get('ConfirmPassword')?.touched">
          Password does not match.
        </div>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>
   -->