<div class="mb-4 h2 text-sucess">
    Reset Password
</div>
<form [formGroup]="userForm"(ngSubmit)="onSubmit()">

    <div class="mb-3">
        <input type="password" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">

        @if (hasDisplayableError('password')) {
        <div class="error-feedback">

            @if (userForm.controls['password'].hasError('required')) {
            <div>
                Please enter your password.
            </div>
            }

            @if (userForm.controls['password'].hasError('minlength')) {
            <div>
                Atleast 6 characters required.
            </div>
            }

            @if (userForm.controls['password'].hasError('pattern')) {
            <div>
                One or more special character(s).
            </div>
            }

        </div>
        }   
    </div>

    <div class="mb-3">
        <input type="password" class="form-control bg-body-secondary" placeholder="Confirm Password"
            formControlName="confirmPassword">

        @if (hasDisplayableError('confirmPassword') && userForm.controls['confirmPassword'].hasError('passwordMismatch')) {
        <div class="error-feedback text-danger">
            Password doesn't match
        </div>
        }

    </div>

<button type="submit" class="btn btn-success w-100 rounded-3">
    Reset Password
</button>
</form>
