<!-- main-page.component.html -->
<div class="dashboard-container">
  <div class="row">
    @if(leaveList.length!==0){
    <!-- Leaves Remaining Card -->
    <div class="card col margin10">
      <div class="card-header">
        <i class="fas fa-calendar"></i>
        <h3> {{leaveType1}} Remaining</h3>
      </div>
      <div class="card-content">
        <div class="metric-value">{{ leaveBalance1 }}</div>
      </div>
    </div>

    <!-- Hours Remaining Card -->
    <div class="card col margin10">
      <div class="card-header">
        <i class="fas fa-clock"></i>
        <h3>{{leaveType2}} Remaining</h3>
      </div>
      <div class="card-content">
        <div class="metric-value">{{ leaveBalance2 }}</div>
      </div>
    </div>

    <!-- Any card -->
    <div class="card col margin10">
      <div class="card-header">
        <i class="fas fa-calendar"></i>
        <h3>{{leaveType3}} Remaining</h3>
      </div>
      <div class="card-content">
        <div class="metric-value">{{ leaveBalance3 }}</div>
      </div>
    </div>


    }

  </div>



  <div class="row">
    <!--- Absences Card -->
    <div class="card col margin10">
      <div class="card-header">
        <i class="fas fa-user-minus"></i>
        <h3>Today's Absences</h3>
      </div>
      <div class="card-content">
        <div class="absences-list">
          @for(absence of todaysAbsences; track absence){
          <div class="absence-item">
            <div class="absence-name">{{ absence.name }}</div>
            <div class="absence-details">
              {{ absence.department }} • {{ absence.reason }}
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  
    <!--- any chart -->

    <div class="card col margin10">
      <div class="card-header">
        <i class="fas fa-calendar"></i>
        <h3 style="max-height: 400px;">Weekly Attendance</h3>
      </div>
      <div class="card-content">
          <app-weekly-attendance></app-weekly-attendance>
      </div>
    </div>
  </div>




  <!-- Calendar Card -->
  <div class="card  margin10">
    <div class="card-header">
      <i class="fas fa-calendar-days"></i>
      <h3>Upcoming Holidays <br> {{ getMonthAndYear() }}</h3>
    </div>
    <div class="card-content">
      <div class="calendar ">
        <div class="calendar-header">
          <div class="weekday" *ngFor="let day of weekDays">{{ day }}</div>
        </div>
        <div class="calendar-body">
          @for(day of calendarDays; track day){
          <div class="calendar-day" [class.holiday]="day.isHoliday" [title]="day.holidayName">
            {{ day.date }}
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>