<!-- main-page.component.html -->
<div class="dashboard-container">
    <div class="row">
      <!-- Leaves Remaining Card -->
      <div class="card col margin10">
        <div class="card-header">
          <i class="fas fa-calendar"></i>
          <h3>Leaves Remaining</h3>
        </div>
        <div class="card-content">
          <div class="metric-value">{{ leavesRemaining }}</div>
        </div>
      </div>
  
      <!-- Hours Remaining Card -->
      <div class="card col margin10">
        <div class="card-header">
          <i class="fas fa-clock"></i>
          <h3>Hours Remaining</h3>
        </div>
        <div class="card-content">
          <div class="metric-value">{{ hoursRemaining }}</div>
        </div>
      </div>

      <!-- Any card -->
      <div class="card col margin10">
        <div class="card-header">
          <i class="fas fa-calendar"></i>
          <h3>Weekly Attendance</h3>
        </div>
        <div class="card-content">
          <div class="metric-value">{{ leavesRemaining }}</div>
        </div>
      </div>
    </div>
    <div class="row">
          <!--- Absences Card -->
      <div class="card col margin10 ">
        <div class="card-header ">
          <i class="fas fa-user-minus"></i>
          <h3>Today's Absences</h3>
        </div>
        <div class="card-content absences-list bigcard">
            @for(absence of todaysAbsences; track absence){
                <div class="absence-item" >
                    <div class="absence-name">{{ absence.name }}</div>
                    <div class="absence-details">
                      {{ absence.department }} • {{ absence.reason }}
                    </div>
                  </div>
            }       
        </div>  
      <!-- Calendar Card -->
      <div class="card col margin10">
        <div class="card-header">
          <i class="fas fa-calendar-days"></i>
          <h3>Upcoming Holidays <br> {{ getMonthAndYear() }}</h3>
        </div>
        <div class="card-content">
          <div class="calendar">
            <div class="calendar-header">
              <div class="weekday" *ngFor="let day of weekDays">{{ day }}</div>
            </div>
            <div class="calendar-body">
                @for(day of calendarDays; track day){
                    <div class="calendar-day" 
                    [class.holiday]="day.isHoliday"
                    [title]="day.holidayName">
                 {{ day.date }}
               </div>
                }            
            </div>
          </div>
        </div>
      </div>
    </div>
    

  
  </div>