<h2>Detailed Attendence</h2><br>
<div class="row">
<div class="col-md-3 mb-3">
    <div class="card c-style">
      <div class="card-body">
        <h5 class="card-title" >
          Arrival Time
        </h5>
        <p class="card-text cardStyle">{{convertToTime(dailyData.arrivalTime)}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <div class="card c-style">
      <div class="card-body">
        <h5 class="card-title">
           Departure
        </h5>
        <p class="card-text cardStyle">{{convertToTime(dailyData.departureTime)}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <div class="card c-style">
      <div class="card-body">
        <h5 class="card-title" >
          Inside Hours
        </h5>
        <p class="card-text cardStyle">{{NumToTime(dailyData.insideHours)}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-3">
    <div class="card c-style">
      <div class="card-body">
        <h5 class="card-title">
         Outside Hours
        </h5>
        <p class="card-text cardStyle">{{ NumToTime(dailyData.outsideHours)}}</p>
      </div>
    </div>
  </div>
</div>

  <div class="row">

    <div class="col-md-3 mb-3">
        <div class="card c-style">
          <div class="card-body">
            <h5 class="card-title" >
              Missed Punch
            </h5>
            <p class="card-text cardStyle">{{dailyData.missedPunch}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card c-style">
          <div class="card-body">
            <h5 class="card-title">
            Status
            </h5>
            <p class="card-text cardStyle">{{getAttendanceStatus(dailyData.attendanceStatusId)}}</p>
          </div>
        </div>
      </div>
      </div>
  
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Punch Time</th>
        <th scope="col">Device Name</th>
        <th scope="col">Direction</th>
      </tr>
    </thead>
    <tbody>
          <tr *ngFor="let log of dailyData.dailyLog; let i = index">
            <td>{{i + 1}}</td> 
            <td>{{convertToTime(log.time)}}</td> 
            <td>{{log.deviceName}}</td> 
            <td>{{log.direction === 1 ? 'in' : 'out'}}</td> 
          </tr>
    </tbody>
  </table>

<button type="button" class="btn btn-light " (click)="downloadDailyReport()">Download Report</button>