<div class="modal-backdrop" (click)="onClose()"></div>
<div class="modal-container">
  <div class="modal-header">
    <h3>Notifications</h3>
    <button class="close-button" (click)="onClose()">&times;</button>
  </div>
  <div class="modal-body">
    @if(notifications.length === 0){
      <div  class="no-notifications">
        No new notifications
      </div>
    }
    @else {
      @for(notification of notifications; track notification ){
        <div  class="notification-item">
          <div class="notification-content" (click)="markNotificationAsRead(notification.notificationId)" title="click to mark as read">
            <p [class.unread]="!notification">{{ notification.message }}</p>
            <span class="timestamp">{{ notification.createdAt | date:'short':'+05:30' }}</span>
          </div>
          @if(!notifications[notifications.length-1]){
            <div class="divider"></div>
          }
        </div>
      }
      <p><a href="" (click)="markAllAsRead(userService.userId)">Mark all as read</a></p>
    }
  </div>
</div>