.custom-btn{
    background-color: #1e507f;
    border:none;
    max-height: 44px;
    width: 190px;


  }
  .custom-btn:hover{
    background-color: darken(#1e507f, 13%);
    border:none;
    max-height: 44px;
    width: 190px;
  }
  .hierarchy{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;       
}

  
.card {
  height: 300px; /* Fixed height for all cards */
  display: flex;
  flex-direction: column;
  cursor: pointer;

}

.card-body {
  flex-grow: 1; /* This ensures the content inside the card body takes the available space */
  overflow: auto; /* Handles content overflow */
  
}
.profile-img {
  height: 290px;
  object-fit: cover; /* Ensures the image fills the space without distortion */
  width: 100%;
}
td {
  padding-left: 12px; /* Adds space to the left of the value */
}