.custom-btn{
    background-color: #1e507f;
    border:none;
    max-height: 44px;
    width: 190px;


  }
  .custom-btn:hover{
    background-color: darken(#1e507f, 13%);
    border:none;
    max-height: 44px;
    width: 190px;
  }
  .hierarchy{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;       
}

  