<!-- <h2 mat-dialog-title>{{ data.node.name }}</h2>
<mat-dialog-content>
  <p><strong>Employee Code:</strong> {{ data.node.emplyeeCode }}</p>
  <p><strong>Designation:</strong> {{ data.node.designation }}</p>
  <p><strong>Email:</strong> {{ data.node.email }}</p>
  <p><strong>Manager:</strong> {{ data.node.manager }}</p>
  <p><strong>Department:</strong> {{ data.node.department }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions> -->