<div class="container-fluid d-flex align-items-center text-light vh-100">
  <div class="container">

      <div class="row rounded-4 m-3 justify-content-center bg-image border-box">
          <div class="col-sm">
              <div>
                  <img src="geekywolf-white-logo.svg" class="m-3">
              </div>
          </div>

          <div class="col-sm align-content-center text-center text-dark">

              <div class="container login-signup-box p-5 rounded-4">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>