.bg-image {
    background: url('../../../public/background.jpg'); 
    height: 100%;
}

.border-box{
    height: 45em;
    box-shadow: 10px 10px 5px rgb(60, 60, 61);
}

.login-signup-box{
    background-color: aliceblue; 
    width: 60%;
}