<div class="nav-items">
  <div class="nav-item" routerLink="/dashboard/main-page">
    <span>Dashboard</span>
  </div>
  <div class="nav-item" routerLink="/dashboard/company-hierarchy">
    <span >Company Hierarchy</span>
  </div>
  <div class="nav-item" routerLink="/dashboard/my-team">
    <span >My Team</span>
  </div>
  <div class="nav-item" routerLink="/dashboard/employee-directory">
    <span>Employee Directory</span>
  </div>

  <div class="nav-item dropdown">
    <span class="dropdown-toggle" id="attendanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Leave
    </span>
    <ul class="dropdown-menu" aria-labelledby="attendanceDropdown">
      <li><a class="dropdown-item" [routerLink]="'/dashboard/leave-dashboard'">Leave Dashboard</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/leave-request-history'">Leave Request History</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/leave-request-approval'">Approve/Reject Leave</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/add-new-leave-type'">Add New Leave Type </a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/edit-leave-type'">Edit Existing Leave Type </a></li>
    </ul>
  </div>
  <div class="nav-item">
    <span>Calendar</span>
  </div>

  <div class="nav-item dropdown">
    <span class="dropdown-toggle" id="attendanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Attendance
    </span>
    <ul class="dropdown-menu" aria-labelledby="attendanceDropdown">
      <li><a class="dropdown-item" [routerLink]="'/dashboard/attendance/summary'">Attendance Dashboard</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/attendance/details'">Attendance Summary</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/attendance/monthly'">Attendance Reports</a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/attendance/subordinates'">Team Attendance </a></li>
      <li><a class="dropdown-item" [routerLink]="'/dashboard/attendance/weekly'">Weekly Attendance </a></li>
    </ul>
  </div>


</div>
