
.side-nav {
  width: 250px;
  min-width: 10%;
  min-height: calc(100vh);
  top: 70px;
  background-color: #113c60;
  position: fixed;
  color: #fefefe;
  box-shadow: 5px 5px 5px #939393;
  overflow-y: auto;
  margin-bottom: 20px;
  
  @media only screen and (max-width: 1300px) {
    width: 100px;
    min-width: 100px;
  }
}

.main {
  margin-left: 250px;  
  margin-top: 70px;
  min-height: calc(100vh);
  padding: 20px;
  width: 100vw;
  top: 70px;
  flex-grow: 1;
  background-color: #ffff;
  overflow-y:auto;
  @media only screen and (max-width: 1300px) {
    margin-left: 100px;      
  }
}

.width100 {
  width: 100vw;
}

.nav-section {
  .section-header {
    cursor: pointer;
    padding: 12px 15px;
    transition: background-color 0.2s;


    &:hover {
      background-color: rgb(1, 38, 69);
    }

    .section-icon {
      margin-left: auto;
      width: 20px;
      height: 20px;
      position: relative;
      transition: transform 0.2s;

      &::after {
        content: '';
        position: absolute;
        right: 6px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: translateY(-50%) rotate(45deg);
        transition: transform 0.2s;
      }

      &.expanded::after {
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }

  .section-content {
    background-color: rgba(105, 39, 39, 0.1);

  }

  .sub-item {
    padding: 10px 15px 10px 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 470;

    &:hover {
      background-color: rgb(1, 38, 69);
    }

    &.active {
      background-color:rgb(1, 38, 69);
    }
  }
}

.nav-item {
  cursor: pointer;
  padding: 12px 15px;
  transition: background-color 0.2s;
  font-weight: 500;


  &:hover {
    background-color: rgb(1, 38, 69);
  }

  &.active {
    background-color: #113c63;;
  }
}

.nav-items{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 100vh;
  overflow-y: auto;
}