<div class="nav-items d-flex flex-column flex-md-column">
  <div class="nav-item row" routerLink="/portal/dashboard">
    <span>Dashboard</span>
  </div>
  <div class="nav-item row" routerLink="/portal/company-hierarchy">
    <span>Company Hierarchy</span>
  </div>

  <div class="nav-item row" routerLink="/portal/my-team">
    <span>My Team</span>
  </div>
  <div class="nav-item row" routerLink="/portal/employee-directory">
    <span>Employee Directory</span>
  </div>

  <div class="nav-item dropdown row">
    <span class="dropdown-toggle" id="leaveDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Leave
    </span>
    <ul class="dropdown-menu" aria-labelledby="leaveDropdown">
      <li><a class="dropdown-item" [routerLink]="'/portal/leave-dashboard'">Leave Dashboard</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/leave-application'">Apply Leave</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/leave-request-history'">Leave Request History</a></li>
      @if(employeeHierarchyList[0].subordinates!=null)
      {
      <li><a class="dropdown-item" [routerLink]="'/portal/subordinate-leave-request'">Subordinate Leaves</a></li>
      }
      @if(userService.role=='Admin')
      {
      <li><a class="dropdown-item" [routerLink]="'/portal/update-leave-balance'">Update Leave Balance</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/add-leave-by-admin-for-employees'">Apply Leave For Employee</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/edit-leave-type'">Edit Existing Leave Type</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/add-new-leave-type'">Add New Leave Type</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/update-leave-settings'">Update Leave Settings</a></li>
      }
    </ul>
  </div>

  <div class="nav-item row">
    <span>Calendar</span>
  </div>

  <div class="nav-item dropdown row">
    <span class="dropdown-toggle" id="attendanceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Attendance
    </span>
    <ul class="dropdown-menu" aria-labelledby="attendanceDropdown">
      <li><a class="dropdown-item" [routerLink]="'/portal/attendance/calendar'">Attendance Dashboard</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/attendance/details'">Attendance Summary</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/attendance/monthly'">Attendance Reports</a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/attendance/subordinates'">Team Attendance </a></li>
      <li><a class="dropdown-item" [routerLink]="'/portal/attendance/weekly'">Weekly Attendance </a></li>
    </ul>
  </div>
</div>