
.container {
margin: 20px auto;
padding: 20px;
max-width: 1500px;
}

table {
border-collapse: collapse;
margin-top: 20px;
}

th {
background-color: #f4f4f4;
color: #333;
font-weight: bold;
text-align: center;
}

td{
    text-align: center;
}

.status-present {
    color: green;
  }
  
  .status-absent {
    color: red;
  }
  
  .status-incomplete {
    color: orange;
  }
  
  .status-restricted {
    color: #a7895c;
  }
  
  .status-normal-holiday {
    color: #21c5ca;
  }
  
  .status-wfh {
    color: blue;
  }
  
  .status-leave {
    color: rgb(214, 21, 214);
  }
  
  .status-weekend {
    color: brown;
  }
  
  .status-unknown {
    color: rgb(0, 0, 0);
  }
  .bold-status {
    font-weight: 500;
  }
  