<div class="mb-4 h2 text-sucess text-start">Add Details
</div>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="First Name" formControlName="firstName">

        @if (hasDisplayableError('firstName') && userForm.controls['firstName'].hasError('required')) {
        <div class="error-feedback">
            Please enter your first name
        </div>
        }
    </div>
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Last Name" formControlName="firstName">

        @if (hasDisplayableError('lastName') && userForm.controls['lastName'].hasError('required')) {
        <div class="error-feedback">
            Please enter your last name
        </div>
        }
    </div>

        <div class="mb-3">
            <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    
            @if (hasDisplayableError('email') && userForm.controls['email'].hasError('required')) {
            <div class="error-feedback">
                Please enter your email
            </div>
            }
    </div>
    


   
  


        

   

    <button type="submit" class="btn btn-success w-100 rounded-5">
        Submit
    </button>
    <p class="mt-3 text-center">Already have an account? <a routerLink="/user/login">Login</a></p>

</form>