<div class="d-flex row mb-3">
  <div class="col-6">
    <ng-select id="leaveStatusId" name="leaveStatusId" [items]="leaveStatusId" bindLabel="name" bindValue="id"
      placeholder="Select Leave Request Status" [(ngModel)]="selectedStatus">
    </ng-select>
  </div>
  <div class="col-6">
    <button class="btn btn-primary " (click)="onApply()">Apply</button>
  </div>
</div>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">S.no.</th>
      <th scope="col">Applied Date</th>
      <th scope="col">Leave Type</th>
      <th scope="col">From Date</th>
      <th scope="col">To Date</th>
      <th scope="col">Is Half Day</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Processed By</th>
      <th scope="col">Edit Leave Request</th>
      <th scope="col">Delete Leave Request</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">

    @for(leaveRequest of leaveRequestList;track leaveRequest;let i = $index)
    {
    <tr>
      <th scope="row">{{indexValue+i}}</th>
      <td>{{leaveRequest.applyDate}}</td>
      <td>{{leaveRequest.typeName}}</td>
      <td>{{leaveRequest.fromDate}}</td>
      <td>{{leaveRequest.toDate}}</td>
      <td>{{leaveRequest.halfDay}}</td>
      <td><a href="javascript:void()" (click)="viewDescription(leaveRequest.description)">View </a></td>
      <td>{{requestStatus(leaveRequest.leaveRequestStatusId)}}</td>
      <td>{{leaveRequest.processedBy}}</td>
      <td>
        @if(requestStatus(leaveRequest.leaveRequestStatusId)=='Open' )
        {
        <button class="btn btn-secondary" (click)="onEdit(leaveRequest.id)">Edit </button>
        }
      </td>
      <td>
        @if(requestStatus(leaveRequest.leaveRequestStatusId)=='Approved')
        {
        <button class="btn btn-danger" (click)="onDelete(leaveRequest.id)">Delete</button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>

<div class="w-100">
  <mat-paginator [length]="totalPages" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
    (page)="onPageChangeEvent($event)">
  </mat-paginator>
</div>

@if(selectedDescription)
{
<div class="modal" tabindex="-1" style="display: block;" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Description</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ selectedDescription }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
}