<div class="mb-5">
  <h1>Edit Leave Type</h1>
</div>

<div class="editLeaveForm container">
  <form [formGroup]="editLeaveTypeForm" class="pForm" (ngSubmit)="onSubmit()">

    <div class="form-group mb-2">
      <div clas="mb-2">
        <label>Select Leave Type </label>
        <ng-select [items]="leaveType" class="option" bindLabel="name" bindValue="id" placeholder="select Leave Type"
          formControlName="id"  (change)="onLeaveTypeChange($event.id)">
        </ng-select>
      </div>
      <div class="error mb-3">
        @if(editLeaveTypeForm.get('id')?.invalid && editLeaveTypeForm.get('id')?.touched){
        Select Type Name !!
        }
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="maxDays">Max Days</label>
      <input type="number" class="form-control" id="maxDays" placeholder="Maximum Credit possible for this Leave" formControlName="maxDays">
    </div>
  
    <div class="form-group mb-3">
      <label for="halfDay" class="form-label">Select if Half Day Allowed</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="halfDay" [value]="true" formControlName="isHalfDayAllowed">
        <label class="form-check-label" for="halfDay">Half Day</label>
      </div>
    </div>

    <div class="form-group mb-3">
      <label>Select increment Type </label>
      <ng-select [items]="increments" class="option mb-2" bindLabel="viewValue" bindValue="type"
        placeholder="Select Increment Type (If increment possible)" formControlName="incrementGapId">
      </ng-select>
    </div>

    <div class="form-group mb-4">
      <label for="incrementCount">Increment Count Value</label>
      <input type="number" class="form-control" id="incrementCount" placeholder="Enter Increment Count"
        formControlName="incrementCount">
    </div>

    <div class="form-group mb-4">
      <label for="carryForward" class="form-label">Select if CarryForward Possible :</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="carryForward" [value]="true" formControlName="carryForward">
        <label class="form-check-label" for="carryForward">CarryForward Possible</label>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="carryForwardLimit">Carry Forward Count</label>
      <input type="number" class="form-control" id="carryForwardLimit" placeholder="Enter Carry Forward Count"
        formControlName="carryForwardLimit">
    </div>

    <div class="form-group mb-4">
      <label for="daysCheck">Threshold Days Check Count</label>
      <input type="number" class="form-control" id="daysCheck" placeholder="Enter Days Check Count"
        formControlName="daysCheck">
    </div>

    <div class="form-group mb-4">
      <label for="daysCheckEqualOrLess">Minimun Days Below Threshold Count</label>
      <input type="number" class="form-control" id="daysCheckEqualOrLess" placeholder="Minimun Days Gap required for applying Leave if Requested Days is Less Than Threshold Count"
        formControlName="daysCheckEqualOrLess">
    </div>

    <div class="form-group mb-4">
      <label for="daysCheckMore">Minimum Days Above Threshold Count</label>
      <input type="number" class="form-control" id="daysCheckMore" placeholder="Minimun Days Gap required For Applying Leave If Requested Days is More Than Threshold Count"
        formControlName="daysCheckMore">
    </div>

    <div class="form-group mb-4">
      <label for="dutyDaysRequired">Minimum Duty Days Required</label>
      <input type="number" class="form-control" id="dutyDaysRequired" placeholder="Minimum Duty Days Required for Credit "
        formControlName="dutyDaysRequired">
    </div>

    <div class="form-group mb-4">
      <label for="sandwichPolicy">Select if Sandwich Policy Applicable :</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="sandwichPolicy" [value]="true" formControlName="sandwich">
        <label class="form-check-label" for="sandwichPolicy">Sandwich Applicable</label>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
