<div class="container mt-3">
  <h1 class="mb-5" style="color: #333; font-size: 2rem;">Employee Attendance Dashboard</h1>

  <!-- Bootstrap Row for Cards -->
  <div class="row">
    <!-- Card 1 (Present) -->
    <div class="col-md-3 mb-3">
      <div class="card c-style">
        <div class="card-body">
          <h5 class="card-title" style="color: green; ">
            <i class="fas fa-check-circle" style="color: green;"></i> Present
          </h5>
          <p class="card-text" style="font-weight: bold; font-size: 1.5rem;">{{present}}</p>
        </div>
      </div>
    </div>

    <!-- Card 2 (Absent) -->
    <div class="col-md-3 mb-3">
      <div class="card c-style">
        <div class="card-body">
          <h5 class="card-title" style="color: red; ">
            <i class="fas fa-times-circle" style="color: red;"></i> Absent
          </h5>
          <p class="card-text" style="font-weight: bold; font-size: 1.5rem;">{{absent}}</p>
        </div>
      </div>
    </div>

    <!-- Card 3 (Late) -->
    <div class="col-md-3 mb-3">
      <div class="card c-style">
        <div class="card-body">
          <h5 class="card-title" style="color: blue; ;">
            <i class="fas fa-clock" style="color: blue;"></i> Incomplete Shift
          </h5>
          <p class="card-text" style="font-weight: bold; font-size: 1.5rem;">{{incompleteShift}}</p>
        </div>
      </div>
    </div>

    <!-- Card 4 (Work From Home) -->
    <div class="col-md-3 mb-3">
      <div class="card c-style">
        <div class="card-body">
          <h5 class="card-title" style="color: orange; ">
            <i class="fas fa-home" style="color: orange;"></i> Work From Home
          </h5>
          <p class="card-text" style="font-weight: bold; font-size: 1.5rem;">{{wfh}}</p>
        </div>
      </div>
    </div>


  </div>

  <!-- FullCalendar -->
  <div class="container text-center mt-4">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>