<div >
    <form [formGroup]="addNewLeaveType" (ngSubmit)="onSubmit()">
  
      <div class="form-group mb-3">
        <label for="typeName" class="form-label">Enter New Leave Type Name</label>
        <input type="text" class="form-control" id="typeName" placeholder="Enter Name" formControlName="typeName">
        <div class="error">@if(addNewLeaveType.get('typeName')?.invalid && addNewLeaveType.get('typeName')?.touched){
          Type Name is Required
          } 
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="maxDays" class="form-label">Enter Max Days</label>
        <input type="number" class="form-control" id="maxDays" placeholder="Enter Max Days" formControlName="maxDays">
      </div>
      <pre><b>Hint :</b>Enter max days to which a leave can sum up to</pre>

      <div class="form-group mb-3">
        <label for="isHalfDayAllowed" class="form-label">Select if Half Day Allowed</label>
        <div class="form-check form-switch">
            <input class="form-check-input" 
                   type="checkbox" 
                   id="isHalfDayAllowed" 
                   [value]="true" 
                   formControlName="isHalfDayAllowed">
            <label class="form-check-label" for="isHalfDayAllowed">Half Day</label>
        </div>
    </div>

      <div class="form-group mb-3">
        <label  class="form-label">Select increment Type if there is increment  </label>
        <ng-select [items]="increments" 
        bindLabel="viewValue"
        bindValue="type" placeholder="select Increment Type" formControlName="incrementGapId" id="incrementGapId">
        </ng-select>
      </div>
  
      <div class="form-group mb-3">
        <label for="incrementCount" class="form-label">Enter Increment Count</label>
        <input type="number" class="form-control" id="incrementCount" placeholder="Enter Increment Count" formControlName="incrementCount">
      </div>


      <div class="form-group mb-3">
        <label for="carryForward" class="form-label">Select if Carry Forward</label>
        <div class="form-check form-switch">
            <input class="form-check-input" 
                   type="checkbox" 
                   id="carryForward" 
                   [value]="true" 
                   formControlName="carryForward">
            <label class="form-check-label" for="carryForward">Carry Forward</label>
        </div>
    </div>

      <div class="form-group mb-3">
        <label for="carryForwardLimit" class="form-label">Enter Carry Forward Count</label>
        <input type="number" class="form-control" id="carryForwardLimit" placeholder="Enter Carry Forward Count" formControlName="carryForwardLimit">
      </div>


      <div class="form-group mb-3">
        <label for="daysCheck" class="=form-label">Enter Days Check Count</label>
        <input type="number" class="form-control" id="daysCheck" placeholder="Enter Days Check Count" formControlName="daysCheck">
      </div>
      <pre><b>Hint:</b> Days Check </pre>


      <div class="form-group mb-3">
        <label for="daysCheckEqualOrLess" class="form-label">Enter daysCheckEqualOrLess Count</label>
        <input type="number" class="form-control" id="daysCheckEqualOrLess" placeholder="Enter daysCheckEqualOrLess Count" formControlName="daysCheckEqualOrLess">
      </div>
      <pre><b>Hint:</b>Enter Days Check Count</pre>


      <div class="form-group mb-3">
        <label for="daysCheckMore" class="form-label">Enter daysCheckMore Count</label>
        <input type="number" class="form-control" id="daysCheckMore" placeholder="Enter daysCheckMore Count" formControlName="daysCheckMore">
      </div>
      <pre><b>Hint:</b>DaysCheckMore</pre>

      <div class="form-group mb-3">
        <label for="dutyDaysRequired" class="form-label">Enter Duty Days  Required</label>
        <input type="number" class="form-control" id="dutyDaysRequired" placeholder="Enter dutyDaysRequired Count" formControlName="dutyDaysRequired">
      </div>

      <div class="form-group mb-3">
        <label for="sandwich" class="form-label">Select if Sandwich Policy Applicable</label>
        <div class="form-check form-switch">
            <input class="form-check-input" 
                   type="checkbox" 
                   id="sandwich" 
                   [value]="true" 
                   formControlName="sandwich">
            <label class="form-check-label" for="sandwich">Sandwich</label>
        </div>
    </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="addNewLeaveType.invalid">Submit</button>
    </form>
  </div>
  